/* Start PC */

body {
    background-color: rgb(145,135,135);
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-gap: 1em;
    border: 1px solid black;
    margin: 15px;
    padding: 10px;

    /* Background */ 
    background-image: url('Judo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* Kopfbereich */
    .Kopfbereich { 
        grid-column: 1/5;
        grid-row: 1/2;
        background-color: rgb(200, 0, 5);
        text-align: center;
    }

    .Kopfbereich h1 {
        background-color: rgb(200, 0, 5);
    }

        /* Add a black background color to the top navigation */
        .topnav {
            background-color: rgb(0, 0, 0);
            overflow: hidden;
            padding: 10px;
            text-align: center;
            
            
        }
        
            /* Style the links inside the navigation bar */
            .topnav a:link {
                color: #f68686;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

            .topnav a:visited {
                color: #f68686;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
            
            /* Change the color of links on hover */
            .topnav a:hover {
                background-color: #ddd;
                color: rgb(97, 28, 28);
            }
            
            /* Add a color to the active/current link */
            .topnav a.active {
                background-color: rgb(101, 0, 0);
                color: white;
            }


                    


/* Hauptbereich */

    .Hauptbereich {
        grid-column: 1/5;
        grid-row: 2/3;
        background-color: darkgray;
        padding: 10px;
        border: 1px solid black;
    }

/*Zweiterbereich */
    .Zweiterbereich {
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: darkgray;
        padding: 10px;
        border: 1px solid black;
    }
    

/* Infobereich */
    .Infobereich {
        grid-column: 3/5;
        grid-row: 3/4;
        background-color: rgb(200, 200, 200);
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px ;
        border: 1px solid black;
    }

        .Infobereich a:link { 
            color : black ;
            text-decoration: none;
            font-size: 90%;
        } 

        .Infobereich a:visited {
            color: red;
        }

        .Infobereich a:hover {
            color: darkred;
            text-decoration: none;
        }

        .Infobereich a:active {
            color: black;
        }

/* Bilder */
    img {
        float: left;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        border: 3px solid darkred;
    }

/* Paragrafen */
    p {
    background-color: darkgray;
    color: black;
    }

/* Text */
    h1 {
        background-color: rgb(255, 64, 64);
        color: black;
        padding: 10px;
    }

    h2 {
        color: black;
    }

    h3 {

    }
/* Links */
    a:link { 
        color : black ;
        text-decoration: underline;
    } 

    a:visited {
        color: red;
        text-decoration: none;
    }

    a:hover {
        color: #f68686;
        text-decoration: none;
    }

    a:active {
        color: black;
        text-decoration: none;
    }

/*Fussbereich */
    .Fussbereich {
        grid-column: 1/5;
        grid-row: 4/5;
        background-color: rgb(200, 0, 5);
        color: black;
        padding: 10px;
        text-align: center;
    }
    /*Fussbereich: Links */
        .Fussbereich a:link { 
            color : black ;
            text-decoration: none;
        } 

        .Fussbereich a:visited {
            color: red;
        }

        .Fussbereich a:hover {
            color: #f68686;
            text-decoration: none;
        }

        .Fussbereich a:active {
            color: rgb(255, 69, 69);
        }


/*Start Tablets */
@media screen and (max-width:960px) {
    

body {
    background-color: rgb(145,135,135);
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-gap: 1em;
    border: 1px solid black;
    margin: 15px;
    padding: 10px;

    /* Background */ 
    background-image: url('Judo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* Kopfbereich */
    .Kopfbereich { 
        grid-column: 1/5;
        grid-row: 1/2;
        background-color: rgb(200, 0, 5);
        text-align: center;
    }

    .Kopfbereich h1 {
        background-color: rgb(200, 0, 5);
    }

        /* Add a black background color to the top navigation */
        .topnav {
            background-color: rgb(0, 0, 0);
            overflow: hidden;
            padding: 10px;
            text-align: center;
            
            
        }
        
            /* Style the links inside the navigation bar */
            .topnav a:link {
                color: #f68686;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

            .topnav a:visited {
                color: #f68686;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
            
            /* Change the color of links on hover */
            .topnav a:hover {
                background-color: #ddd;
                color: rgb(97, 28, 28);
            }
            
            /* Add a color to the active/current link */
            .topnav a.active {
                background-color: rgb(101, 0, 0);
                color: white;
            }


                    


/* Hauptbereich */

    .Hauptbereich {
        grid-column: 1/5;
        grid-row: 2/3;
        background-color: darkgray;
        padding: 10px;
        border: 1px solid black;
    }

/*Zweiterbereich */
    .Zweiterbereich {
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: darkgray;
        padding: 10px;
        border: 1px solid black;
    }
    

/* Infobereich */
    .Infobereich {
        grid-column: 3/5;
        grid-row: 3/4;
        background-color: rgb(200, 200, 200);
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px ;
        border: 1px solid black;
    }

        .Infobereich a:link { 
            color : black ;
            text-decoration: none;
            font-size: 90%;
        } 

        .Infobereich a:visited {
            color: red;
        }

        .Infobereich a:hover {
            color: darkred;
            text-decoration: none;
        }

        .Infobereich a:active {
            color: black;
        }

/* Bilder */
    img {
        float: left;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        border: 3px solid darkred;
    }

/* Paragrafen */
    p {
    background-color: darkgray;
    color: black;
    }

/* Text */
    h1 {
        background-color: rgb(255, 64, 64);
        color: black;
        padding: 10px;
    }

    h2 {
        color: black;
    }

    h3 {

    }
/* Links */
    a:link { 
        color : black ;
        text-decoration: underline;
    } 

    a:visited {
        color: red;
        text-decoration: none;
    }

    a:hover {
        color: #f68686;
        text-decoration: none;
    }

    a:active {
        color: black;
        text-decoration: none;
    }

/*Fussbereich */
    .Fussbereich {
        grid-column: 1/5;
        grid-row: 4/5;
        background-color: rgb(200, 0, 5);
        color: black;
        padding: 10px;
        text-align: center;
    }
    /*Fussbereich: Links */
        .Fussbereich a:link { 
            color : black ;
            text-decoration: none;
        } 

        .Fussbereich a:visited {
            color: red;
        }

        .Fussbereich a:hover {
            color: #f68686;
            text-decoration: none;
        }

        .Fussbereich a:active {
            color: rgb(255, 69, 69);
        }

    } 

/*Start Handy */
@media screen and (max-width:600px) {
    body {
        background-color: rgb(145,135,135);
        font-family: Helvetica, Arial, sans-serif;
    }
  
    .wrapper {
        display: grid;
        grid-template-columns: 2fr  1fr;
        grid-gap: 1em;
        border: 1px solid black;
        margin: 15px;
        padding: 10px;

        /* Background */ 
        background-image: url('Judo.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
  

    /* Kopfbereich */
        .Kopfbereich { 
            grid-column: 1/2;
            grid-row: 1/2;
            background-color: rgb(200, 0, 5);
            text-align: center;
        }

        .Kopfbereich h1 {
            background-color: rgb(200, 0, 5);
        }

            /* Add a black background color to the top navigation */
            .topnav {
                background-color: rgb(0, 0, 0);
                overflow: hidden;
                padding: 10px;
                text-align: center;
                
            }
            
            .topnav {
                width: 60px;
                display: block;
                margin: 50px auto;
                border: 4px solid #00bfb6;
                padding: 8px 10px;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
              }
              
              .topnav {
                background-color: rgb(0, 0, 0);
                overflow: hidden;
                padding: 10px;
                text-align: center;
                
            }
            
                /* Style the links inside the navigation bar */
                .topnav a:link {
                    color: #f68686;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                }

                .topnav a:visited {
                    color: #f68686;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                }
                
                /* Change the color of links on hover */
                .topnav a:hover {
                    background-color: #ddd;
                    color: rgb(97, 28, 28);
                }
                
                /* Add a color to the active/current link */
                .topnav a.active {
                    background-color: rgb(101, 0, 0);
                    color: white;
                }


                        


    /* Hauptbereich */

        .Hauptbereich {
            grid-column: 1/2;
            grid-row: 2/3;
            background-color: darkgray;
            padding: 10px;
            border: 1px solid black;
        }

    /*Zweiterbereich */
        .Zweiterbereich {
            grid-column: 1/2;
            grid-row: 3/4;
            background-color: darkgray;
            padding: 10px;
            border: 1px solid black;
        }
        

    /* Infobereich */
        .Infobereich {
            grid-column: 1/2;
            grid-row: 3/4;
            background-color: rgb(200, 200, 200);
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px ;
            border: 1px solid black;
        }

            .Infobereich a:link { 
                color : black ;
                text-decoration: none;
                font-size: 90%;
            } 

            .Infobereich a:visited {
                color: red;
            }

            .Infobereich a:hover {
                color: darkred;
                text-decoration: none;
            }

            .Infobereich a:active {
                color: black;
            }
    
    /* Bilder */
        img {
            float: left;
            margin-left: 5px;
            margin-right: 10px;
            margin-bottom: 5px;
            border: 3px solid darkred;
        }

    /* Paragrafen */
        p {
        background-color: darkgray;
        color: black;
        }

    /* Text */
        h1 {
            background-color: rgb(255, 64, 64);
            color: black;
            padding: 10px;
        }

        h2 {
            color: black;
        }

        h3 {

        }
    /* Links */
        a:link { 
            color : black ;
            text-decoration: underline;
        } 

        a:visited {
            color: red;
            text-decoration: none;
        }

        a:hover {
            color: #f68686;
            text-decoration: none;
        }

        a:active {
            color: black;
            text-decoration: none;
        }

    /*Fussbereich */
        .Fussbereich {
            grid-column: 1/2;
            grid-row: 4/5;
            background-color: rgb(200, 0, 5);
            color: black;
            padding: 10px;
            text-align: center;
        }
        /*Fussbereich: Links */
            .Fussbereich a:link { 
                color : black ;
                text-decoration: none;
            } 

            .Fussbereich a:visited {
                color: red;
            }

            .Fussbereich a:hover {
                color: #f68686;
                text-decoration: none;
            }

            .Fussbereich a:active {
                color: rgb(255, 69, 69);
            }

    
}
